@use 'variables' as v;
@use 'compositions' as c;
@use 'utilities' as u;

nav {
    @include u.mobile-nav;

    &.active {
        @include u.position_fixed(1, visible);
        transform: translateY(0);
    }
}

.desktop_img {
    @include c.responsive-image(block, none);
}

.mobile_img {
    @include c.responsive-image(none, block);
}

.header__logo {
    padding-right: 2rem;
}

.section__nav {
    @include c.display-flex($justify: flex-end);
    @include u.padding_all(3rem);
    @include u.position_absolute;
    width: 100%;
    @include u.top_right(78.8%, 38%);

    @include c.mobile {
        @include u.top_right(33.5%, -10%);
    }

    button {
        background-color: v.$black;
        @include u.padding_all(1rem);
        @include u.transition(background-color, 0.3s, ease);

        &:hover {
            background-color: v.$very-dark-gray;
        }
    }
}

.hero__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;

    .hero__image {
        transform: translateX(-100%);
        @include u.transition(opacity, 1s, ease-out);

        @include u.no-animation {
            transition: none;
        }
    }

    .hero__content {
        transform: translateX(100%);
        @include u.transition(opacity, 1s, ease-out);

        @include u.no-animation {
            transition: none;
        }

        @include u.padding_all(6rem);

        p {
            @include u.padding_y(1rem);
        }

        button {
            @include u.text-style(uppercase, 0.8rem);
            color: v.$black;
            @include u.transition(transform, 0.3s, ease);

            &:hover {
                color: v.$dark-gray;
                transform: translateX(0.8rem);
            }
        }

        @include c.mobile {
            @include u.padding_all(2.5rem);
        }
    }
}

.active {
    opacity: 1;
    position: relative;
    @include u.transition(opacity, 1s, ease-in);
    pointer-events: auto;

    @include u.no-animation {
        transition: none;
    }

    .hero__content,
    .hero__image {
        transform: translateX(0);
        @include u.transition(all, 1s, ease-in);

        @include u.no-animation {
            transition: none;
        }

        @include c.mobile {
            @include u.transition(opacity, 1s, ease-in);

            @include u.no-animation {
                transition: none;
            }
        }
    }
}

.footer__content {
    @include u.padding_all(3rem);
    @include c.display-flex($justify: center, $direction: column);

    h2 {
        @include u.text-style(uppercase, 0.5rem);
        overflow: hidden;
        border-right: .15em solid v.$very-dark-gray;
        white-space: nowrap;
        display: inline-block;
        margin: 0 auto;
        animation: typing 15s steps(20, end) infinite, blink-caret .75s step-end infinite;

        @include u.no-animation {
            animation: none;
        }
    }

    p {
        @include u.padding_y(1rem);
    }

    @include c.mobile {
        @include u.padding_all(1rem);
    }
}

/* The typing effect */
@keyframes typing {

    from,
    to {
        max-width: 0
    }

    50% {
        max-width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: v.$very-dark-gray;
    }
}

.mobile_menu {
    display: none;
    padding-right: 5rem;

    @include c.mobile {
        display: block;
    }
}

.close_menu {
    display: none;

    @include c.mobile {
        display: block;
    }
}