@import 'https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap';

// Colors
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

// Font
$font-size: 16px;
$font-family: 'League Spartan', sans-serif;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;